/* Desktop Styles */
.top-main {
  width: 100%;
  height: 70%;
  background: var(--Black-5, rgba(30, 40, 50, 0.05));
  position: relative;
  padding-bottom: 4%;
}

.mini-top-main {
  width: 60%;
  margin: auto;
}

#left-flower,
#right-flower {
  position: absolute;
}

#left-flower {
  top: 70%;
}

#right-flower {
  width: 195px;
  top: 40%;
  left: 86.5%;
}

/* Your regular styles for desktop go here */

/* Media query for tablets */
@media only screen and (max-width: 992px) {
  .mini-top-main {
    width: 85%;
  }
}

/* Media query for mobile devices */
@media only screen and (max-width: 576px) {
  .mini-top-main {
    width: 90%;
  }
  .top-main {
    height: 100vh;
  }
}
