@media only screen and (min-width: 1024px) {
  .grid-product {
    max-width: 60%;
    height: 650px;
    margin: 5% auto 10%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .grid-cards-cont {
    max-width: 100%;
    position: relative;
    display: grid;
    gap: 1rem 1rem;
    grid-auto-columns: 200px;
    grid-auto-rows: 300px;
  }

  .grid-product h2 {
    color: var(--Dark, #000);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }
  .grid-product h2:hover {
    cursor: pointer;
    color: #ff6f61;
  }

  .grid-product a {
    text-decoration: none;
  }

  .top-section-products {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 2.5% 0;
  }

  .top-section-products-btn {
    width: 0;
    height: 0;
    padding: 10px 30px;
    white-space: nowrap;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Open Sans;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    gap: 5px;
  }

  .top-section-products-btn img {
    width: 10px;
    flex-shrink: 0;
  }

  .price-type-cont {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }
}
