.top-header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: -10%;
}

.btn-right {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.abtn {
  display: flex;
  align-items: center;
  width: 45%;
  border: none;
  background: none;
  cursor: pointer;
}

.abtn:hover,
.abtn:focus {
  filter: invert(60%) sepia(31%) saturate(3515%) hue-rotate(321deg)
    brightness(101%) contrast(101%);
}

.abtn img {
  width: 15%;
  margin: 0 10% 0 0;
}

.abtn p {
  display: inline-block;
}

.search {
  display: flex;
  /* align-items: flex-end; */
  gap: 8px;
  width: 4%;
}

.search-input {
  border: 0.05rem solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: inherit;
}

.search-input:active,
.search-input:focus {
  outline: none;
}

.search-icon {
  width: 18px;
  height: 25px;
  cursor: pointer;
  margin-bottom: -3px;
}

/* Your regular styles for desktop go here */

/* Media query for tablets */
@media only screen and (max-width: 992px) {
  /* Styles for viewport width 992 pixels or less (tablet) */
  /* Adjust styles accordingly for your tablet layout */
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  /* Styles for viewport width 768 pixels or less (mobile) */
  /* Adjust styles accordingly for your mobile layout */
}

/* Additional media queries can be added for finer control */
@media only screen and (max-width: 576px) {
  /* Styles for viewport width 576 pixels or less (extra small devices) */
}

/* Add more media queries as needed for your design */
