.top-header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: -10%;
}

.btn-right {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.abtn {
  display: flex;
  align-items: center;
  width: 45%;
  border: none;
  background: none;
  cursor: pointer;
}

.abtn:hover,
.abtn:focus {
  filter: invert(60%) sepia(31%) saturate(3515%) hue-rotate(321deg)
    brightness(101%) contrast(101%);
}

.abtn img {
  width: 15%;
  margin: 0 10% 0 0;
}

.abtn p {
  display: inline-block;
}

.search {
  display: flex;
  /* align-items: flex-end; */
  gap: 8px;
  width: 4%;
}

.search-input {
  /* width: 80%; */
  border: 0.05rem solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: inherit;
}

.search-input:active,
.search-input:focus {
  outline: none;
}

.search-icon {
  width: 18px;
  height: 25px;
  cursor: pointer;
  margin-bottom: -3px;
}

/* Media query for tablets */
@media only screen and (max-width: 992px) {
  .abtn {
    font-size: 80%;
  }

  .logo {
    width: 25%;
  }
}

/* Media query for mobile devices */
@media only screen and (max-width: 576px) {
  .top-header {
    max-width: 100%;
  }
  .abtn {
    font-size: 60%;
  }
  .btn-right {
    width: 32%;
  }

  .search {
    width: 25%;
  }
  .search-input {
    width: 80%;
  }
  .logo {
    margin-right: 5%;
  }
}
