@media only screen and (min-width: 1024px) {
  .header {
    width: 60vw;
    height: 113px;
  }

  .line {
    width: 100%;
  }

  .menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    cursor: pointer;
    margin-top: 2%;
  }

  .menu li:hover,
  .menu li:focus {
    color: #ff6f61;
  }
}
