@media only screen and (min-width: 1024px) {
  .slider-products {
    height: 40%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .section-header {
    color: var(--Dark, #000);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }
  /* .section-header:hover {
    color: #ff6f61;
  } */

  .grid-cards-cont {
    display: grid;
    grid-auto-flow: column;
  }
}
