@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.slider-products,
.top-main,
.hot_category,
.grid_prodects,
.brand-cont,
.instagram-cont,
.mini-footer-cont,
.main-footer {
  width: 60%;
}

.slider-products,
.hot_category,
.grid_prodects,
.brand-cont,
.instagram-cont {
  margin: 5% auto;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
/* Your regular styles for desktop go here */

/* Media query for tablets */
@media only screen and (max-width: 992px) {
  /* Styles for viewport width 992 pixels or less (tablet) */
  /* Adjust styles accordingly for your tablet layout */
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  /* Styles for viewport width 768 pixels or less (mobile) */
  /* Adjust styles accordingly for your mobile layout */
}

/* Additional media queries can be added for finer control */
@media only screen and (max-width: 576px) {
  /* Styles for viewport width 576 pixels or less (extra small devices) */
}

/* Add more media queries as needed for your design */
