@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

img {
  display: block;
  /* height: auto; */
}

.slider-products,
.top-main,
.hot_category,
.grid_prodects,
.brand-cont {
  width: 60%;
}

.slider-products,
.hot_category,
.grid_prodects,
.brand-cont {
  margin: 5% auto;
}

body {
  overflow-x: hidden;
}
/* Mobile Styles */

@media only screen and (min-width: 600px) {
  /* Tablet Styles */
}

@media only screen and (min-width: 1024px) {
  /* Desktop Styles */
}
