@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.slider-products,
.top-main,
.hot_category,
.grid_prodects,
.brand-cont,
.instagram-cont,
.mini-footer-cont,
.main-footer {
  width: 60%;
}

.slider-products,
.hot_category,
.grid_prodects,
.brand-cont,
.instagram-cont {
  margin: 5% auto;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
/* Your regular styles for desktop go here */

/* Media query for tablets */
@media only screen and (max-width: 992px) {
  .slider-products,
  .top-main,
  .hot_category,
  .grid_prodects,
  .brand-cont,
  .instagram-cont,
  .mini-footer-cont,
  .main-footer {
    width: 70%;
  }
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  .slider-products,
  .top-main,
  .hot_category,
  .grid_prodects,
  .brand-cont,
  .instagram-cont,
  .mini-footer-cont,
  .main-footer {
    width: 80%;
  }
}

/* Additional media queries can be added for finer control */
@media only screen and (max-width: 576px) {
  .slider-products,
  .top-main,
  .hot_category,
  .grid_prodects,
  .brand-cont,
  .instagram-cont,
  .mini-footer-cont,
  .main-footer {
    width: 90%;
  }
}
