.brand-cont {
  display: flex;
  width: 60%;
  margin: 4% auto;
  justify-content: space-between;
}

.brands {
  width: 120px;
  height: auto;
  flex-shrink: 0;
}

/* Media query for tablets */
@media only screen and (max-width: 992px) {
  .brand-cont {
    width: 80%;
  }
}

/* Media query for mobile devices */
@media only screen and (max-width: 576px) {
  .brand-cont {
    width: 90%;
    flex-wrap: wrap;
  }

  .brands {
    width: 20%;
  }
}
